body, a {
  margin: 0;
  margin-bottom: 0;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
  font-size: 3vh;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: 'DotGothic16', sans-serif;
  letter-spacing: 10px;
}

h1 {
  font-size: 20vh;
}

img {
  max-width: 100%;
  height: 4rem;
}

.btn {
  font-family: 'DotGothic16', sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: 3vh;
  letter-spacing: 2px;
  border: none;
  border-radius: 2px;
  padding: 15px 32px;
  text-align: center;
  transition-duration: 0.2s;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.btn:hover {
  background-color: black;
  color: white;
  border: 1px solid #ffffff;
}

.btn:active {
  background-color: rgb(255, 255, 255);
}