html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body, a {
  margin: 0;
  margin-bottom: 0;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
  font-size: clamp(.8rem, 1.5vw, 2.5rem);
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, .galleryLink {
  color: white;
  font-family: 'DotGothic16', sans-serif;
  letter-spacing: .5rem;
}

h1, .galleryLink {
  font-size: clamp(3rem, 8vw, 15rem);
}

img {
  max-width: 100%;
  height: 4rem;
}

.btn {
  font-family: 'DotGothic16', sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: clamp(1.2rem, 1.4vw, 3rem);
  letter-spacing: 2px;
  border: none;
  border-radius: 2px;
  padding: clamp(0.5rem, 1.5vw, 3rem) clamp(1rem, 2vw, 4rem);
  text-align: center;
  transition-duration: 0.2s;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.btn:hover {
  background-color: black;
  color: white;
  border: 1px solid #ffffff;
}

.btn:active {
  background-color: rgb(255, 255, 255);
}

.btn-primary:active,
.btn-primary:active:focus,
.btn-primary.active,
.btn-primary.active:focus {
    background-color: #000000 !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
    box-shadow: none !important;
}

.btn-primary:focus {
    background-color: #ffffff !important;
    color: #000000 !important;
    border-color: transparent !important;
    box-shadow: none !important;
}