body {
  margin: 0;
  margin-bottom: 0;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: 'DotGothic16', sans-serif;
}

h1 {
  font-size: 5rem;
}

img {
  max-width: 100%;
  height: 6rem;
}