.bioBorder {
     border: 1.2vh solid white;
}

.galleryLink {
     text-decoration: underline;
     text-underline-offset: 30px;
}

.heroSection {
     padding-top: clamp(4rem, 3vw, 2rem);
}

.bioSection {
     padding-top: clamp(4rem, 7vw, 9rem);
     padding-bottom: clamp(4rem, 7vw, 9rem);
}

.galleryLinkSection {
     padding-bottom: clamp(4rem, 7vw, 9rem);
}