.bioBorder {
     border: .5rem solid white;
}

.galleryLink {
     text-decoration: underline;
     text-underline-offset: clamp(15px, 2vw, 30px);
}

.galleryLink, .galleryLinkHeader {
     font-size: clamp(1.7rem, 8vw, 15rem);
     letter-spacing: clamp(.2rem, 1vw, 1rem);
}

.heroSection {
     padding-top: clamp(4rem, 3vw, 2rem);
}

.bioSection {
     padding-top: clamp(4rem, 7vw, 9rem);
     padding-bottom: clamp(4rem, 7vw, 9rem);
}

.galleryLinkSection {
     padding-bottom: clamp(4rem, 7vw, 9rem);
}