/* Lazy-loading animation for profile picture */
.profilePicture {
     opacity: 0;
     transition: opacity 0.5s ease-out;
}
.profilePicture.profilePicture--loaded {
     opacity: 1;
}

.bioBorder {
     border: .4rem solid white;
}

.bio-dino-speech-icon{
     width: 9rem;
     height: auto;
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
}

.typeWriterText {
     font-size: clamp(.8rem, 1.5vw, 2.5rem);
}

.nameHeading {
     font-size: clamp(3.6rem, 10vw, 15rem);
     letter-spacing: clamp(.3rem, 1vw, 5rem);
}

.galleryLink {
     text-decoration: underline;
     text-underline-offset: clamp(15px, 2vw, 30px);
}

.galleryLink, .galleryLinkHeader {
     font-size: clamp(1.7rem, 8vw, 15rem);
     letter-spacing: clamp(.2rem, 1vw, 1rem);
}

.location-icon,
.lamp-icon {
  width: clamp(2rem, 5vw, 7rem);
  height: auto;
}

.heroOccupation h2, .heroLocation h2 {
     font-family: 'Space Mono', monospace;
     font-size: clamp(.9rem, 2vw, 2.5rem);
     letter-spacing: clamp(.1rem, .2vw, 1rem);
     margin-bottom: 0;
}

.bioSection {
     padding-top: clamp(4rem, 7vw, 9rem);
     padding-bottom: clamp(4rem, 7vw, 9rem);
}

.galleryLinkSection {
     padding-bottom: clamp(4rem, 7vw, 9rem);
}