.contactForm {
    border: .7vh solid white;
}

.contact-container {
    padding-bottom: clamp(4rem, 7vw, 9rem);
    padding-top: clamp(2rem, 4vw, 9rem);
}

.phoneNumber p, .emailContact p {
    margin-bottom: 0;
}

.phone-icon,
.email-icon {
  width: clamp(2rem, 5vw, 7rem);
  height: auto;
}
