.gallery-container {
    padding-bottom: clamp(2rem, 7vw, 9rem);
    padding-top: clamp(2rem, 4vw, 9rem);
}

.galleryHeader, .galleryItemRow {
    padding-bottom: clamp(2rem, 7vw, 9rem);
}

.galleryContactLink {
     text-decoration: underline;
     text-underline-offset: clamp(15px, 2vw, 30px);
}

.galleryContactLink, .galleryContactLinkHeader {
     font-size: clamp(.8rem, 2.5vw, 5rem) !important;
     letter-spacing: clamp(.2rem, .3vw, 1rem) !important;
}