.menuBackgroundAnimation {
    height: 30vh; 
    width: 100%;
}

.menuLink {
    height: 20vh; 
    width: 100%;
}

.navBarTop {
    height: 10vh; 
    width: 100%;
}

.navBarTop img{
    height: 100%;
    width: auto; 
    object-fit: contain;
    transition: transform 0.3s ease;
}

.menu-toggle-icon {
    cursor: pointer;
}

.menuLink img {
  transition: transform 0.3s ease;
}

.menuLink, .menuBackgroundAnimation, .navBarTop {
    border-bottom: 1.2vh solid white;
}

.menuLink:hover {
    background-color: white;
    color: black;
}

.menuLink:hover h1 {
    color: black;
}

.navBarTop img:hover {
    transform: scale(1.1);
}

@keyframes arrowWiggle {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(-100px); }
  100% { transform: translateX(0); }
}

.menuLink:hover img {
  animation: arrowWiggle 0.8s ease-in-out infinite;
}